<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycrewsoft.domain.project.mapper.ProjectMapper">
<insert id="insertProject">
	<selectKey keyProperty="projId" resultType="long" order="BEFORE">
		SELECT SEQ_PROJ_ID.NEXTVAL FROM DUAL
	</selectKey>
	INSERT INTO TB_PROJECT (
		PROJ_ID,
		CHTRM_ID,
		PROJ_NM,
		PROJ_CN,
		PROJ_BGNG_YMD,
		PROJ_END_YMD,
		PROJ_STAT_CD,
		PROJ_CREAT_DT,
		PROJ_LDR_EMP_ID
	) VALUES (
		#{projId},
        #{chtrmId},
        #{projNm},
        #{projCn},
        #{projBgngYmd},
        #{projEndYmd},
        '01',
        SYSDATE,
        #{projLdrEmpId}
	)
</insert>

<select id="selectProjectList" resultType="com.mycrewsoft.domain.project.vo.ProjectVO">
	SELECT
        P.PROJ_ID,
        P.PROJ_NM,
        P.PROJ_BGNG_YMD,
        P.PROJ_END_YMD,
        P.PROJ_STAT_CD,
        E.EMP_NM    AS PROJ_LDR_NM,
        PR.PRGRS_RATE
    FROM TB_PROJECT P
    JOIN TB_PROJ_MEMBER PM
        ON PM.PROJ_ID   = P.PROJ_ID
       AND PM.EMP_ID    = #{empId}
       AND PM.LEAVE_DT IS NULL
    JOIN TB_EMPLOYEE E
        ON E.EMP_ID = P.PROJ_LDR_EMP_ID
    LEFT JOIN (
        SELECT
            T.PROJ_ID,
            ROUND(AVG(PS.PRGRS_RT)) AS PRGRS_RATE
        FROM TB_TASK T
        JOIN TB_PRGRS_SMRY PS
            ON PS.TASK_ID = T.TASK_ID
        GROUP BY T.PROJ_ID
    ) PR ON PR.PROJ_ID = P.PROJ_ID
    ORDER BY P.PROJ_CREAT_DT DESC
</select>
</mapper>