<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycrewsoft.domain.employee.mapper.AdminEmployeeMapper">

    <resultMap id="EmployeeSimpleResultMap" type="com.mycrewsoft.domain.employee.vo.EmployeeVO">
        <id property="empId" column="EMP_ID"/>
        <result property="deptCd" column="DEPT_CD"/>
        <result property="jobPstnCd" column="JOB_PSTN_CD"/>
        <result property="jobGrdCd" column="JOB_GRD_CD"/>
        <result property="empStatCd" column="EMP_STAT_CD"/>
        <result property="jobDutyCn" column="JOB_DUTY_CN"/>
        <result property="pswd" column="PSWD"/>
        <result property="empNm" column="EMP_NM"/>
        <result property="rrno" column="RRNO"/>
        <result property="genderCd" column="GENDER_CD"/>
        <result property="mblTelno" column="MBL_TELNO"/>
        <result property="zip" column="ZIP"/>
        <result property="addr" column="ADDR"/>
        <result property="prflImgFileId" column="PRFL_IMG_FILE_ID"/>
        <result property="execYn" column="EXEC_YN"/>
        <result property="entcoYmd" column="ENTCO_YMD"/>
        <result property="retcoYmd" column="RETCO_YMD"/>
        <result property="frstRegDt" column="FRST_REG_DT"/>
        <result property="lastMdfcnDt" column="LAST_MDFCN_DT"/>
        <result property="enabled" column="ENABLED"/>
        <result property="mbrStampFileId" column="EMP_STAMP_FILE_ID"/>
    </resultMap>
	
	
	
    <resultMap id="EmployeeListResultMap" type="com.mycrewsoft.domain.employee.dto.response.EmployeeListDTO">
        <id property="empId" column="EMP_ID"/>
        <result property="deptCd" column="DEPT_CD"/>
        <result property="jobPstnCd" column="JOB_PSTN_CD"/>
        <result property="jobGrdCd" column="JOB_GRD_CD"/>
        <result property="empStatCd" column="EMP_STAT_CD"/>
        <result property="jobDutyCn" column="JOB_DUTY_CN"/>
        <result property="empNm" column="EMP_NM"/>
        <result property="genderCd" column="GENDER_CD"/>
        <result property="mblTelno" column="MBL_TELNO"/>
        <result property="zip" column="ZIP"/>
        <result property="addr" column="ADDR"/>
        <result property="prflImgFileId" column="PRFL_IMG_FILE_ID"/>
        <result property="execYn" column="EXEC_YN"/>
        <result property="entcoYmd" column="ENTCO_YMD"/>
        <result property="retcoYmd" column="RETCO_YMD"/>
        <result property="frstRegDt" column="FRST_REG_DT"/>
        <result property="lastMdfcnDt" column="LAST_MDFCN_DT"/>
        <result property="enabled" column="ENABLED"/>

        <association property="department" javaType="com.mycrewsoft.domain.department.vo.DepartmentVO">
            <id property="deptCd" column="DEPARTMENT_DEPT_CD"/>
            <result property="prntDeptCd" column="DEPARTMENT_PRNT_DEPT_CD"/>
            <result property="deptNm" column="DEPARTMENT_DEPT_NM"/>
            <result property="useYn" column="DEPARTMENT_USE_YN"/>
            <result property="frstRegDt" column="DEPARTMENT_FRST_REG_DT"/>
            <result property="frstRgtrId" column="DEPARTMENT_FRST_RGTR_ID"/>
            <result property="lastMdfcnDt" column="DEPARTMENT_LAST_MDFCN_DT"/>
            <result property="lastMdfrId" column="DEPARTMENT_LAST_MDFR_ID"/>
        </association>

        <association property="jobPosition" javaType="com.mycrewsoft.domain.jobposition.vo.JobPositionVO">
            <id property="jobPstnCd" column="JOB_POSITION_JOB_PSTN_CD"/>
            <result property="jobPstnNm" column="JOB_POSITION_JOB_PSTN_NM"/>
            <result property="useYn" column="JOB_POSITION_USE_YN"/>
            <result property="frstRgtrId" column="JOB_POSITION_FRST_RGTR_ID"/>
            <result property="frstRegDt" column="JOB_POSITION_FRST_REG_DT"/>
            <result property="lastMdfrId" column="JOB_POSITION_LAST_MDFR_ID"/>
            <result property="lastMdfcnDt" column="JOB_POSITION_LAST_MDFCN_DT"/>
        </association>

        <association property="jobGrade" javaType="com.mycrewsoft.domain.jobgrade.vo.JobGradeVO">
            <id property="jobGrdCd" column="JOB_GRADE_JOB_GRD_CD"/>
            <result property="jobGrdNm" column="JOB_GRADE_JOB_GRD_NM"/>
            <result property="useYn" column="JOB_GRADE_USE_YN"/>
            <result property="frstRgtrId" column="JOB_GRADE_FRST_RGTR_ID"/>
            <result property="frstRegDt" column="JOB_GRADE_FRST_REG_DT"/>
            <result property="lastMdfrId" column="JOB_GRADE_LAST_MDFR_ID"/>
            <result property="lastMdfcnDt" column="JOB_GRADE_LAST_MDFCN_DT"/>
        </association>

        <association property="empStat" javaType="com.mycrewsoft.domain.empstat.vo.EmpStatVO">
            <id property="empStatCd" column="EMP_STAT_EMP_STAT_CD"/>
            <result property="empStatNm" column="EMP_STAT_EMP_STAT_NM"/>
            <result property="empStatExpln" column="EMP_STAT_EMP_STAT_EXPLN"/>
        </association>
    </resultMap>

    <resultMap id="EmployeeDetailResultMap" type="com.mycrewsoft.domain.employee.dto.response.EmployeeDetailDTO">
        <id property="empId" column="EMP_ID"/>
        <result property="jobDutyCn" column="JOB_DUTY_CN"/>
        <result property="empNm" column="EMP_NM"/>
        <result property="rrno" column="RRNO"/>
        <result property="genderCd" column="GENDER_CD"/>
        <result property="mblTelno" column="MBL_TELNO"/>
        <result property="zip" column="ZIP"/>
        <result property="addr" column="ADDR"/>
        <result property="prflImgFileId" column="PRFL_IMG_FILE_ID"/>
        <result property="execYn" column="EXEC_YN"/>
        <result property="entcoYmd" column="ENTCO_YMD"/>
        <result property="retcoYmd" column="RETCO_YMD"/>
        <result property="frstRegDt" column="FRST_REG_DT"/>
        <result property="lastMdfcnDt" column="LAST_MDFCN_DT"/>
        <result property="enabled" column="ENABLED"/>
        <result property="mbrStampFileId" column="EMP_STAMP_FILE_ID"/>

        <association property="department" javaType="com.mycrewsoft.domain.department.vo.DepartmentVO">
            <id property="deptCd" column="DEPARTMENT_DEPT_CD"/>
            <result property="prntDeptCd" column="DEPARTMENT_PRNT_DEPT_CD"/>
            <result property="deptNm" column="DEPARTMENT_DEPT_NM"/>
            <result property="useYn" column="DEPARTMENT_USE_YN"/>
            <result property="frstRegDt" column="DEPARTMENT_FRST_REG_DT"/>
            <result property="frstRgtrId" column="DEPARTMENT_FRST_RGTR_ID"/>
            <result property="lastMdfcnDt" column="DEPARTMENT_LAST_MDFCN_DT"/>
            <result property="lastMdfrId" column="DEPARTMENT_LAST_MDFR_ID"/>
        </association>

        <association property="jobPosition" javaType="com.mycrewsoft.domain.jobposition.vo.JobPositionVO">
            <id property="jobPstnCd" column="JOB_POSITION_JOB_PSTN_CD"/>
            <result property="jobPstnNm" column="JOB_POSITION_JOB_PSTN_NM"/>
            <result property="useYn" column="JOB_POSITION_USE_YN"/>
            <result property="frstRgtrId" column="JOB_POSITION_FRST_RGTR_ID"/>
            <result property="frstRegDt" column="JOB_POSITION_FRST_REG_DT"/>
            <result property="lastMdfrId" column="JOB_POSITION_LAST_MDFR_ID"/>
            <result property="lastMdfcnDt" column="JOB_POSITION_LAST_MDFCN_DT"/>
        </association>

        <association property="jobGrade" javaType="com.mycrewsoft.domain.jobgrade.vo.JobGradeVO">
            <id property="jobGrdCd" column="JOB_GRADE_JOB_GRD_CD"/>
            <result property="jobGrdNm" column="JOB_GRADE_JOB_GRD_NM"/>
            <result property="useYn" column="JOB_GRADE_USE_YN"/>
            <result property="frstRgtrId" column="JOB_GRADE_FRST_RGTR_ID"/>
            <result property="frstRegDt" column="JOB_GRADE_FRST_REG_DT"/>
            <result property="lastMdfrId" column="JOB_GRADE_LAST_MDFR_ID"/>
            <result property="lastMdfcnDt" column="JOB_GRADE_LAST_MDFCN_DT"/>
        </association>

        <association property="empStat" javaType="com.mycrewsoft.domain.empstat.vo.EmpStatVO">
            <id property="empStatCd" column="EMP_STAT_EMP_STAT_CD"/>
            <result property="empStatNm" column="EMP_STAT_EMP_STAT_NM"/>
            <result property="empStatExpln" column="EMP_STAT_EMP_STAT_EXPLN"/>
        </association>

        <collection property="roleAssignmentList"
                    column="{empId=EMP_ID}"
                    select="com.mycrewsoft.domain.roleassignment.mapper.RoleAssignmentMapper.selectRoleAssignmentsByEmpId"/>

        <collection property="mailAccountList" ofType="com.mycrewsoft.domain.mail.vo.MailAccountVO">
            <id property="empId" column="MAIL_ACCOUNT_EMP_ID"/>
            <result property="providerCd" column="MAIL_ACCOUNT_PROVIDER_CD"/>
            <result property="emailAddr" column="MAIL_ACCOUNT_EMAIL_ADDR"/>
            <result property="googleSubId" column="MAIL_ACCOUNT_GOOGLE_SUB_ID"/>
            <result property="accessToken" column="MAIL_ACCOUNT_ACCESS_TOKEN"/>
            <result property="refreshToken" column="MAIL_ACCOUNT_REFRESH_TOKEN"/>
            <result property="tokenExprDt" column="MAIL_ACCOUNT_TOKEN_EXPR_DT"/>
            <result property="syncLastDt" column="MAIL_ACCOUNT_SYNC_LAST_DT"/>
            <result property="useYn" column="MAIL_ACCOUNT_USE_YN"/>
            <result property="frstRegDt" column="MAIL_ACCOUNT_FRST_REG_DT"/>
            <result property="lastMdfcnDt" column="MAIL_ACCOUNT_LAST_MDFCN_DT"/>
        </collection>
    </resultMap>

    <sql id="EmployeeColumns">
        E.EMP_ID,
        E.DEPT_CD,
        E.JOB_PSTN_CD,
        E.JOB_GRD_CD,
        E.EMP_STAT_CD,
        E.JOB_DUTY_CN,
        E.PSWD,
        E.EMP_NM,
        E.RRNO,
        E.GENDER_CD,
        E.MBL_TELNO,
        E.ZIP,
        E.ADDR,
        E.PRFL_IMG_FILE_ID,
        E.EXEC_YN,
        E.ENTCO_YMD,
        E.RETCO_YMD,
        E.FRST_REG_DT,
        E.LAST_MDFCN_DT,
        E.ENABLED,
        E.EMP_STAMP_FILE_ID
    </sql>

    <sql id="EmployeeListColumns">
        E.EMP_ID,
        E.DEPT_CD,
        E.JOB_PSTN_CD,
        E.JOB_GRD_CD,
        E.EMP_STAT_CD,
        E.JOB_DUTY_CN,
        E.EMP_NM,
        E.GENDER_CD,
        E.MBL_TELNO,
        E.ZIP,
        E.ADDR,
        E.PRFL_IMG_FILE_ID,
        E.EXEC_YN,
        E.ENTCO_YMD,
        E.RETCO_YMD,
        E.FRST_REG_DT,
        E.LAST_MDFCN_DT,
        E.ENABLED,
        D.DEPT_CD AS DEPARTMENT_DEPT_CD,
        D.PRNT_DEPT_CD AS DEPARTMENT_PRNT_DEPT_CD,
        D.DEPT_NM AS DEPARTMENT_DEPT_NM,
        D.USE_YN AS DEPARTMENT_USE_YN,
        D.FRST_REG_DT AS DEPARTMENT_FRST_REG_DT,
        D.FRST_RGTR_ID AS DEPARTMENT_FRST_RGTR_ID,
        D.LAST_MDFCN_DT AS DEPARTMENT_LAST_MDFCN_DT,
        D.LAST_MDFR_ID AS DEPARTMENT_LAST_MDFR_ID,
        JP.JOB_PSTN_CD AS JOB_POSITION_JOB_PSTN_CD,
        JP.JOB_PSTN_NM AS JOB_POSITION_JOB_PSTN_NM,
        JP.USE_YN AS JOB_POSITION_USE_YN,
        JP.FRST_RGTR_ID AS JOB_POSITION_FRST_RGTR_ID,
        JP.FRST_REG_DT AS JOB_POSITION_FRST_REG_DT,
        JP.LAST_MDFR_ID AS JOB_POSITION_LAST_MDFR_ID,
        JP.LAST_MDFCN_DT AS JOB_POSITION_LAST_MDFCN_DT,
        JG.JOB_GRD_CD AS JOB_GRADE_JOB_GRD_CD,
        JG.JOB_GRD_NM AS JOB_GRADE_JOB_GRD_NM,
        JG.USE_YN AS JOB_GRADE_USE_YN,
        JG.FRST_RGTR_ID AS JOB_GRADE_FRST_RGTR_ID,
        JG.FRST_REG_DT AS JOB_GRADE_FRST_REG_DT,
        JG.LAST_MDFR_ID AS JOB_GRADE_LAST_MDFR_ID,
        JG.LAST_MDFCN_DT AS JOB_GRADE_LAST_MDFCN_DT,
        ES.EMP_STAT_CD AS EMP_STAT_EMP_STAT_CD,
        ES.EMP_STAT_NM AS EMP_STAT_EMP_STAT_NM,
        ES.EMP_STAT_EXPLN AS EMP_STAT_EMP_STAT_EXPLN
    </sql>

    <sql id="EmployeeSearchWhere">
        <where>
            <if test="condition.keyword != null and condition.keyword != ''">
                AND (
                    TO_CHAR(E.EMP_ID) LIKE '%' || #{condition.keyword} || '%'
                    OR E.EMP_NM LIKE '%' || #{condition.keyword} || '%'
                    OR E.MBL_TELNO LIKE '%' || #{condition.keyword} || '%'
                    OR E.ADDR LIKE '%' || #{condition.keyword} || '%'
                )
            </if>

            <if test="condition.deptCd != null and condition.deptCd != ''">
                AND TRIM(E.DEPT_CD) = TRIM(#{condition.deptCd})
            </if>

            <if test="condition.empStatCd != null and condition.empStatCd != ''">
                AND E.EMP_STAT_CD = #{condition.empStatCd}
            </if>

            <if test="condition.jobGrdCd != null and condition.jobGrdCd != ''">
                AND TRIM(E.JOB_GRD_CD) = TRIM(#{condition.jobGrdCd})
            </if>

            <if test="condition.jobPstnCd != null and condition.jobPstnCd != ''">
                AND TRIM(E.JOB_PSTN_CD) = TRIM(#{condition.jobPstnCd})
            </if>

            <if test="condition.execYn != null and condition.execYn != ''">
                AND E.EXEC_YN = #{condition.execYn}
            </if>

            <if test="condition.enabled != null and condition.enabled != ''">
                AND E.ENABLED = #{condition.enabled}
            </if>
        </where>
    </sql>

    <insert id="insertEmployee" parameterType="com.mycrewsoft.domain.employee.vo.EmployeeVO">
        INSERT INTO TB_EMPLOYEE (
            EMP_ID,
            EMP_STAT_CD,
            JOB_GRD_CD,
            JOB_PSTN_CD,
            DEPT_CD,
            JOB_DUTY_CN,
            PSWD,
            EMP_NM,
            RRNO,
            GENDER_CD,
            MBL_TELNO,
            ZIP,
            ADDR,
            PRFL_IMG_FILE_ID,
            EXEC_YN,
            ENTCO_YMD,
            RETCO_YMD,
            FRST_REG_DT,
            LAST_MDFCN_DT,
            ENABLED,
            EMP_STAMP_FILE_ID
        )
        VALUES (
            #{empId},
            #{empStatCd},
            #{jobGrdCd},
            #{jobPstnCd},
            #{deptCd},
            #{jobDutyCn},
            #{pswd},
            #{empNm},
            #{rrno},
            #{genderCd},
            #{mblTelno},
            #{zip},
            #{addr},
            #{prflImgFileId},
            #{execYn},
            #{entcoYmd},
            #{retcoYmd},
            NVL(#{frstRegDt}, SYSDATE),
            #{lastMdfcnDt},
            #{enabled},
            #{mbrStampFileId}
        )
    </insert>

    <select id="selectEmployeeById" resultMap="EmployeeSimpleResultMap">
        SELECT
            <include refid="EmployeeColumns"/>
        FROM TB_EMPLOYEE E
        WHERE E.EMP_ID = #{empId}
    </select>

    <update id="updateEmployeeStatus">
        UPDATE TB_EMPLOYEE
        SET EMP_STAT_CD = #{empStatCd},
            LAST_MDFCN_DT = SYSDATE
        WHERE EMP_ID = #{empId}
    </update>

    <update id="updateEmployeeStatusIfNotInitial">
        UPDATE TB_EMPLOYEE
        SET EMP_STAT_CD = #{empStatCd},
            LAST_MDFCN_DT = SYSDATE
        WHERE EMP_ID = #{empId}
          AND EMP_STAT_CD != 'EMP_INITIAL'
    </update>

    <update id="updateFirstLoginInfo">
        UPDATE TB_EMPLOYEE
        SET PSWD = #{password},
            EMP_STAT_CD = #{empStatCd},
            LAST_MDFCN_DT = SYSDATE
        WHERE EMP_ID = #{empId}
          AND EMP_STAT_CD = 'EMP_INITIAL'
    </update>

    <select id="selectEmployeeDetailById" resultMap="EmployeeDetailResultMap">
        SELECT
            E.EMP_ID,
            E.JOB_DUTY_CN,
            E.EMP_NM,
            E.GENDER_CD,
            E.MBL_TELNO,
            E.ZIP,
            E.ADDR,
            E.PRFL_IMG_FILE_ID,
            E.EXEC_YN,
            E.ENTCO_YMD,
            E.RETCO_YMD,
            E.FRST_REG_DT,
            E.LAST_MDFCN_DT,
            E.ENABLED,
            E.EMP_STAMP_FILE_ID,
            D.DEPT_CD AS DEPARTMENT_DEPT_CD,
            D.PRNT_DEPT_CD AS DEPARTMENT_PRNT_DEPT_CD,
            D.DEPT_NM AS DEPARTMENT_DEPT_NM,
            D.USE_YN AS DEPARTMENT_USE_YN,
            D.FRST_REG_DT AS DEPARTMENT_FRST_REG_DT,
            D.FRST_RGTR_ID AS DEPARTMENT_FRST_RGTR_ID,
            D.LAST_MDFCN_DT AS DEPARTMENT_LAST_MDFCN_DT,
            D.LAST_MDFR_ID AS DEPARTMENT_LAST_MDFR_ID,
            JP.JOB_PSTN_CD AS JOB_POSITION_JOB_PSTN_CD,
            JP.JOB_PSTN_NM AS JOB_POSITION_JOB_PSTN_NM,
            JP.USE_YN AS JOB_POSITION_USE_YN,
            JP.FRST_RGTR_ID AS JOB_POSITION_FRST_RGTR_ID,
            JP.FRST_REG_DT AS JOB_POSITION_FRST_REG_DT,
            JP.LAST_MDFR_ID AS JOB_POSITION_LAST_MDFR_ID,
            JP.LAST_MDFCN_DT AS JOB_POSITION_LAST_MDFCN_DT,
            JG.JOB_GRD_CD AS JOB_GRADE_JOB_GRD_CD,
            JG.JOB_GRD_NM AS JOB_GRADE_JOB_GRD_NM,
            JG.USE_YN AS JOB_GRADE_USE_YN,
            JG.FRST_RGTR_ID AS JOB_GRADE_FRST_RGTR_ID,
            JG.FRST_REG_DT AS JOB_GRADE_FRST_REG_DT,
            JG.LAST_MDFR_ID AS JOB_GRADE_LAST_MDFR_ID,
            JG.LAST_MDFCN_DT AS JOB_GRADE_LAST_MDFCN_DT,
            ES.EMP_STAT_CD AS EMP_STAT_EMP_STAT_CD,
            ES.EMP_STAT_NM AS EMP_STAT_EMP_STAT_NM,
            ES.EMP_STAT_EXPLN AS EMP_STAT_EMP_STAT_EXPLN,
            MA.EMP_ID AS MAIL_ACCOUNT_EMP_ID,
            MA.PROVIDER_CD AS MAIL_ACCOUNT_PROVIDER_CD,
            MA.EMAIL_ADDR AS MAIL_ACCOUNT_EMAIL_ADDR,
            MA.GOOGLE_SUB_ID AS MAIL_ACCOUNT_GOOGLE_SUB_ID,
            MA.ACCESS_TOKEN AS MAIL_ACCOUNT_ACCESS_TOKEN,
            MA.REFRESH_TOKEN AS MAIL_ACCOUNT_REFRESH_TOKEN,
            MA.TOKEN_EXPR_DT AS MAIL_ACCOUNT_TOKEN_EXPR_DT,
            MA.SYNC_LAST_DT AS MAIL_ACCOUNT_SYNC_LAST_DT,
            MA.USE_YN AS MAIL_ACCOUNT_USE_YN,
            MA.FRST_REG_DT AS MAIL_ACCOUNT_FRST_REG_DT,
            MA.LAST_MDFCN_DT AS MAIL_ACCOUNT_LAST_MDFCN_DT
        FROM TB_EMPLOYEE E
        LEFT JOIN TB_DEPARTMENT D
            ON D.DEPT_CD = E.DEPT_CD
        LEFT JOIN TB_JOB_POSITION JP
            ON JP.JOB_PSTN_CD = E.JOB_PSTN_CD
        LEFT JOIN TB_JOB_GRADE JG
            ON JG.JOB_GRD_CD = E.JOB_GRD_CD
        LEFT JOIN TB_EMP_STAT ES
            ON ES.EMP_STAT_CD = E.EMP_STAT_CD
        LEFT JOIN TB_MAIL_ACCOUNT MA
            ON MA.EMP_ID = E.EMP_ID
        WHERE E.EMP_ID = #{empId}
    </select>

    <select id="countEmployees" resultType="long">
        SELECT COUNT(1)
        FROM TB_EMPLOYEE E
        <include refid="EmployeeSearchWhere"/>
    </select>

    <select id="selectEmployees" resultMap="EmployeeListResultMap">
        SELECT
            <include refid="EmployeeListColumns"/>
        FROM TB_EMPLOYEE E
        LEFT JOIN TB_DEPARTMENT D
            ON D.DEPT_CD = E.DEPT_CD
        LEFT JOIN TB_JOB_POSITION JP
            ON JP.JOB_PSTN_CD = E.JOB_PSTN_CD
        LEFT JOIN TB_JOB_GRADE JG
            ON JG.JOB_GRD_CD = E.JOB_GRD_CD
        LEFT JOIN TB_EMP_STAT ES
            ON ES.EMP_STAT_CD = E.EMP_STAT_CD
        <include refid="EmployeeSearchWhere"/>
        ORDER BY E.FRST_REG_DT DESC, E.EMP_ID DESC
        OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>
	
</mapper>
