<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.mycrewsoft.domain.employee.mapper.EmployeeMapper">

	<resultMap id="EmployeeProfileResultMap" type="com.mycrewsoft.domain.employee.dto.response.EmployeeProfileDTO">
		<result property="empNm" column="EMP_NM"/>
		<result property="prflImgFileId" column="PRFL_IMG_FILE_ID"/>

		<association property="department" javaType="com.mycrewsoft.domain.department.vo.DepartmentVO">
			<id property="deptCd" column="DEPARTMENT_DEPT_CD"/>
			<result property="prntDeptCd" column="DEPARTMENT_PRNT_DEPT_CD"/>
			<result property="deptNm" column="DEPARTMENT_DEPT_NM"/>
			<result property="useYn" column="DEPARTMENT_USE_YN"/>
			<result property="frstRegDt" column="DEPARTMENT_FRST_REG_DT"/>
			<result property="frstRgtrId" column="DEPARTMENT_FRST_RGTR_ID"/>
			<result property="lastMdfcnDt" column="DEPARTMENT_LAST_MDFCN_DT"/>
			<result property="lastMdfrId" column="DEPARTMENT_LAST_MDFR_ID"/>
		</association>

		<association property="jobPosition" javaType="com.mycrewsoft.domain.jobposition.vo.JobPositionVO">
			<id property="jobPstnCd" column="JOB_POSITION_JOB_PSTN_CD"/>
			<result property="jobPstnNm" column="JOB_POSITION_JOB_PSTN_NM"/>
			<result property="useYn" column="JOB_POSITION_USE_YN"/>
			<result property="frstRgtrId" column="JOB_POSITION_FRST_RGTR_ID"/>
			<result property="frstRegDt" column="JOB_POSITION_FRST_REG_DT"/>
			<result property="lastMdfrId" column="JOB_POSITION_LAST_MDFR_ID"/>
			<result property="lastMdfcnDt" column="JOB_POSITION_LAST_MDFCN_DT"/>
		</association>

		<association property="jobGrade" javaType="com.mycrewsoft.domain.jobgrade.vo.JobGradeVO">
			<id property="jobGrdCd" column="JOB_GRADE_JOB_GRD_CD"/>
			<result property="jobGrdNm" column="JOB_GRADE_JOB_GRD_NM"/>
			<result property="useYn" column="JOB_GRADE_USE_YN"/>
			<result property="frstRgtrId" column="JOB_GRADE_FRST_RGTR_ID"/>
			<result property="frstRegDt" column="JOB_GRADE_FRST_REG_DT"/>
			<result property="lastMdfrId" column="JOB_GRADE_LAST_MDFR_ID"/>
			<result property="lastMdfcnDt" column="JOB_GRADE_LAST_MDFCN_DT"/>
		</association>
	</resultMap>

	<select id="selectEmpDeptCodeByEmpId" resultType="string">
		SELECT DEPT_CD
		FROM TB_EMPLOYEE
        WHERE EMP_ID = #{empId}
	</select>

	<select id="existsByEmpId" resultType="boolean">
		SELECT CASE WHEN COUNT(1) > 0 THEN 1 ELSE 0 END
		FROM TB_EMPLOYEE
		WHERE EMP_ID = #{empId}
	</select>

	<select id="selectEmployeeProfileByEmpId" resultMap="EmployeeProfileResultMap">
		SELECT
			E.EMP_NM,
			E.PRFL_IMG_FILE_ID,
			D.DEPT_CD AS DEPARTMENT_DEPT_CD,
			D.PRNT_DEPT_CD AS DEPARTMENT_PRNT_DEPT_CD,
			D.DEPT_NM AS DEPARTMENT_DEPT_NM,
			D.USE_YN AS DEPARTMENT_USE_YN,
			D.FRST_REG_DT AS DEPARTMENT_FRST_REG_DT,
			D.FRST_RGTR_ID AS DEPARTMENT_FRST_RGTR_ID,
			D.LAST_MDFCN_DT AS DEPARTMENT_LAST_MDFCN_DT,
			D.LAST_MDFR_ID AS DEPARTMENT_LAST_MDFR_ID,
			JP.JOB_PSTN_CD AS JOB_POSITION_JOB_PSTN_CD,
			JP.JOB_PSTN_NM AS JOB_POSITION_JOB_PSTN_NM,
			JP.USE_YN AS JOB_POSITION_USE_YN,
			JP.FRST_RGTR_ID AS JOB_POSITION_FRST_RGTR_ID,
			JP.FRST_REG_DT AS JOB_POSITION_FRST_REG_DT,
			JP.LAST_MDFR_ID AS JOB_POSITION_LAST_MDFR_ID,
			JP.LAST_MDFCN_DT AS JOB_POSITION_LAST_MDFCN_DT,
			JG.JOB_GRD_CD AS JOB_GRADE_JOB_GRD_CD,
			JG.JOB_GRD_NM AS JOB_GRADE_JOB_GRD_NM,
			JG.USE_YN AS JOB_GRADE_USE_YN,
			JG.FRST_RGTR_ID AS JOB_GRADE_FRST_RGTR_ID,
			JG.FRST_REG_DT AS JOB_GRADE_FRST_REG_DT,
			JG.LAST_MDFR_ID AS JOB_GRADE_LAST_MDFR_ID,
			JG.LAST_MDFCN_DT AS JOB_GRADE_LAST_MDFCN_DT
		FROM TB_EMPLOYEE E
		LEFT JOIN TB_DEPARTMENT D
			ON D.DEPT_CD = E.DEPT_CD
		LEFT JOIN TB_JOB_POSITION JP
			ON JP.JOB_PSTN_CD = E.JOB_PSTN_CD
		LEFT JOIN TB_JOB_GRADE JG
			ON JG.JOB_GRD_CD = E.JOB_GRD_CD
		WHERE E.EMP_ID = #{empId}
	</select>
</mapper>
