<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycrewsoft.domain.employee.mapper.EmployeeMapper">

	<resultMap id="EmployeeProfileResultMap"
			   type="com.mycrewsoft.domain.employee.dto.response.EmployeeProfileDTO">

		<result property="empNm" column="EMP_NM"/>
		<result property="prflImgFileId" column="PRFL_IMG_FILE_ID"/>

		<association property="department"
					 javaType="com.mycrewsoft.domain.department.vo.DepartmentVO">
			<id property="deptCd" column="DEPARTMENT_DEPT_CD"/>
			<result property="prntDeptCd" column="DEPARTMENT_PRNT_DEPT_CD"/>
			<result property="deptNm" column="DEPARTMENT_DEPT_NM"/>
			<result property="useYn" column="DEPARTMENT_USE_YN"/>
			<result property="frstRegDt" column="DEPARTMENT_FRST_REG_DT"/>
			<result property="frstRgtrId" column="DEPARTMENT_FRST_RGTR_ID"/>
			<result property="lastMdfcnDt" column="DEPARTMENT_LAST_MDFCN_DT"/>
			<result property="lastMdfrId" column="DEPARTMENT_LAST_MDFR_ID"/>
		</association>

		<association property="jobPosition"
					 javaType="com.mycrewsoft.domain.jobposition.vo.JobPositionVO">
			<id property="jobPstnCd" column="JOB_POSITION_JOB_PSTN_CD"/>
			<result property="jobPstnNm" column="JOB_POSITION_JOB_PSTN_NM"/>
			<result property="useYn" column="JOB_POSITION_USE_YN"/>
			<result property="frstRgtrId" column="JOB_POSITION_FRST_RGTR_ID"/>
			<result property="frstRegDt" column="JOB_POSITION_FRST_REG_DT"/>
			<result property="lastMdfrId" column="JOB_POSITION_LAST_MDFR_ID"/>
			<result property="lastMdfcnDt" column="JOB_POSITION_LAST_MDFCN_DT"/>
		</association>

		<association property="jobGrade"
					 javaType="com.mycrewsoft.domain.jobgrade.vo.JobGradeVO">
			<id property="jobGrdCd" column="JOB_GRADE_JOB_GRD_CD"/>
			<result property="jobGrdNm" column="JOB_GRADE_JOB_GRD_NM"/>
			<result property="useYn" column="JOB_GRADE_USE_YN"/>
			<result property="frstRgtrId" column="JOB_GRADE_FRST_RGTR_ID"/>
			<result property="frstRegDt" column="JOB_GRADE_FRST_REG_DT"/>
			<result property="lastMdfrId" column="JOB_GRADE_LAST_MDFR_ID"/>
			<result property="lastMdfcnDt" column="JOB_GRADE_LAST_MDFCN_DT"/>
		</association>
	</resultMap>

	<resultMap id="EmployeeMyPageResultMap"
			   type="com.mycrewsoft.domain.employee.dto.response.EmployeeMyPageResponseDTO">

		<!-- EmployeeMyPageResponseDTO 기본 필드 -->
		<result property="empId" column="EMP_ID"/>
		<result property="emailAddr" column="EMAIL_ADDR"/>		
		<result property="empNm" column="EMP_NM"/>
		<result property="prflImgFileId" column="PRFL_IMG_FILE_ID"/>
		<result property="genderCd" column="GENDER_CD"/>
		<result property="mblTelno" column="MBL_TELNO"/>
		<result property="zip" column="ZIP"/>
		<result property="addr" column="ADDR"/>
		<result property="execYn" column="EXEC_YN"/>
		<result property="mbrStampFileId" column="MBR_STAMP_FILE_ID"/>
		<result property="jobDutyCn" column="JOB_DUTY_CN"/>
		<result property="entcoYmd" column="ENTCO_YMD"/>

		<!-- DepartmentVO -->
		<association property="department"
					 javaType="com.mycrewsoft.domain.department.vo.DepartmentVO">
			<id property="deptCd" column="DEPARTMENT_DEPT_CD"/>
			<result property="prntDeptCd" column="DEPARTMENT_PRNT_DEPT_CD"/>
			<result property="deptNm" column="DEPARTMENT_DEPT_NM"/>
			<result property="useYn" column="DEPARTMENT_USE_YN"/>
			<result property="frstRegDt" column="DEPARTMENT_FRST_REG_DT"/>
			<result property="frstRgtrId" column="DEPARTMENT_FRST_RGTR_ID"/>
			<result property="lastMdfcnDt" column="DEPARTMENT_LAST_MDFCN_DT"/>
			<result property="lastMdfrId" column="DEPARTMENT_LAST_MDFR_ID"/>
		</association>

		<!-- JobPositionVO -->
		<association property="jobPosition"
					 javaType="com.mycrewsoft.domain.jobposition.vo.JobPositionVO">
			<id property="jobPstnCd" column="JOB_POSITION_JOB_PSTN_CD"/>
			<result property="jobPstnNm" column="JOB_POSITION_JOB_PSTN_NM"/>
			<result property="useYn" column="JOB_POSITION_USE_YN"/>
			<result property="frstRgtrId" column="JOB_POSITION_FRST_RGTR_ID"/>
			<result property="frstRegDt" column="JOB_POSITION_FRST_REG_DT"/>
			<result property="lastMdfrId" column="JOB_POSITION_LAST_MDFR_ID"/>
			<result property="lastMdfcnDt" column="JOB_POSITION_LAST_MDFCN_DT"/>
		</association>

		<!-- JobGradeVO -->
		<association property="jobGrade"
					 javaType="com.mycrewsoft.domain.jobgrade.vo.JobGradeVO">
			<id property="jobGrdCd" column="JOB_GRADE_JOB_GRD_CD"/>
			<result property="jobGrdNm" column="JOB_GRADE_JOB_GRD_NM"/>
			<result property="useYn" column="JOB_GRADE_USE_YN"/>
			<result property="frstRgtrId" column="JOB_GRADE_FRST_RGTR_ID"/>
			<result property="frstRegDt" column="JOB_GRADE_FRST_REG_DT"/>
			<result property="lastMdfrId" column="JOB_GRADE_LAST_MDFR_ID"/>
			<result property="lastMdfcnDt" column="JOB_GRADE_LAST_MDFCN_DT"/>
		</association>

		<!-- RoleAssignmentVO 목록 -->
		<collection property="roleAssignmentList"
					column="EMP_ID"
					select="selectRoleAssignmentListByEmpId"/>
	</resultMap>
	<resultMap id="RoleAssignmentResultMap"
			   type="com.mycrewsoft.domain.roleassignment.vo.RoleAssignmentVO">
	
		<id property="roleAssignId" column="ROLE_ASSIGN_ID"/>
		<result property="roleId" column="ROLE_ID"/>
		<result property="empId" column="EMP_ID"/>
		<result property="enabled" column="ENABLED"/>
		<result property="scopeTypeCd" column="SCOPE_TYPE_CD"/>
		<result property="scopeId" column="SCOPE_ID"/>
	
		<association property="role"
					 javaType="com.mycrewsoft.domain.role.vo.RoleVO">
			<id property="roleId" column="ROLE_ROLE_ID"/>
			<result property="roleCd" column="ROLE_ROLE_CD"/>
			<result property="roleNm" column="ROLE_ROLE_NM"/>
			<result property="roleExpln" column="ROLE_ROLE_EXPLN"/>
			<result property="frstRgtrId" column="ROLE_FRST_RGTR_ID"/>
			<result property="frstRegDt" column="ROLE_FRST_REG_DT"/>
			<result property="lastMdfrId" column="ROLE_LAST_MDFR_ID"/>
			<result property="lastMdfcnDt" column="ROLE_LAST_MDFCN_DT"/>
		</association>
	</resultMap>

	<select id="selectEmpDeptCodeByEmpId" resultType="string">
		SELECT DEPT_CD
		FROM TB_EMPLOYEE
		WHERE EMP_ID = #{empId}
	</select>


	<select id="existsByEmpId" resultType="boolean">
		SELECT CASE WHEN COUNT(1) > 0 THEN 1 ELSE 0 END
		FROM TB_EMPLOYEE
		WHERE EMP_ID = #{empId}
	</select>


	<select id="selectEmployeeProfileByEmpId" resultMap="EmployeeProfileResultMap">
		SELECT
			E.EMP_NM,
			E.PRFL_IMG_FILE_ID,

			D.DEPT_CD AS DEPARTMENT_DEPT_CD,
			D.PRNT_DEPT_CD AS DEPARTMENT_PRNT_DEPT_CD,
			D.DEPT_NM AS DEPARTMENT_DEPT_NM,
			D.USE_YN AS DEPARTMENT_USE_YN,
			D.FRST_REG_DT AS DEPARTMENT_FRST_REG_DT,
			D.FRST_RGTR_ID AS DEPARTMENT_FRST_RGTR_ID,
			D.LAST_MDFCN_DT AS DEPARTMENT_LAST_MDFCN_DT,
			D.LAST_MDFR_ID AS DEPARTMENT_LAST_MDFR_ID,

			JP.JOB_PSTN_CD AS JOB_POSITION_JOB_PSTN_CD,
			JP.JOB_PSTN_NM AS JOB_POSITION_JOB_PSTN_NM,
			JP.USE_YN AS JOB_POSITION_USE_YN,
			JP.FRST_RGTR_ID AS JOB_POSITION_FRST_RGTR_ID,
			JP.FRST_REG_DT AS JOB_POSITION_FRST_REG_DT,
			JP.LAST_MDFR_ID AS JOB_POSITION_LAST_MDFR_ID,
			JP.LAST_MDFCN_DT AS JOB_POSITION_LAST_MDFCN_DT,

			JG.JOB_GRD_CD AS JOB_GRADE_JOB_GRD_CD,
			JG.JOB_GRD_NM AS JOB_GRADE_JOB_GRD_NM,
			JG.USE_YN AS JOB_GRADE_USE_YN,
			JG.FRST_RGTR_ID AS JOB_GRADE_FRST_RGTR_ID,
			JG.FRST_REG_DT AS JOB_GRADE_FRST_REG_DT,
			JG.LAST_MDFR_ID AS JOB_GRADE_LAST_MDFR_ID,
			JG.LAST_MDFCN_DT AS JOB_GRADE_LAST_MDFCN_DT

		FROM TB_EMPLOYEE E

		LEFT JOIN TB_DEPARTMENT D
			ON D.DEPT_CD = E.DEPT_CD

		LEFT JOIN TB_JOB_POSITION JP
			ON JP.JOB_PSTN_CD = E.JOB_PSTN_CD

		LEFT JOIN TB_JOB_GRADE JG
			ON JG.JOB_GRD_CD = E.JOB_GRD_CD

		WHERE E.EMP_ID = #{empId}
	</select>


	<select id="selectEmployeeMyPageByEmpId" resultMap="EmployeeMyPageResultMap">
		SELECT
			E.EMP_ID,
			E.EMP_NM,
			MA.EMAIL_ADDR,
			E.PRFL_IMG_FILE_ID,
			E.GENDER_CD,
			E.MBL_TELNO,
			E.ZIP,
			E.ADDR,
			E.EXEC_YN,
			E.EMP_STAMP_FILE_ID AS MBR_STAMP_FILE_ID,
			E.JOB_DUTY_CN,
			E.ENTCO_YMD,

			D.DEPT_CD AS DEPARTMENT_DEPT_CD,
			D.PRNT_DEPT_CD AS DEPARTMENT_PRNT_DEPT_CD,
			D.DEPT_NM AS DEPARTMENT_DEPT_NM,
			D.USE_YN AS DEPARTMENT_USE_YN,
			D.FRST_REG_DT AS DEPARTMENT_FRST_REG_DT,
			D.FRST_RGTR_ID AS DEPARTMENT_FRST_RGTR_ID,
			D.LAST_MDFCN_DT AS DEPARTMENT_LAST_MDFCN_DT,
			D.LAST_MDFR_ID AS DEPARTMENT_LAST_MDFR_ID,

			JP.JOB_PSTN_CD AS JOB_POSITION_JOB_PSTN_CD,
			JP.JOB_PSTN_NM AS JOB_POSITION_JOB_PSTN_NM,
			JP.USE_YN AS JOB_POSITION_USE_YN,
			JP.FRST_RGTR_ID AS JOB_POSITION_FRST_RGTR_ID,
			JP.FRST_REG_DT AS JOB_POSITION_FRST_REG_DT,
			JP.LAST_MDFR_ID AS JOB_POSITION_LAST_MDFR_ID,
			JP.LAST_MDFCN_DT AS JOB_POSITION_LAST_MDFCN_DT,

			JG.JOB_GRD_CD AS JOB_GRADE_JOB_GRD_CD,
			JG.JOB_GRD_NM AS JOB_GRADE_JOB_GRD_NM,
			JG.USE_YN AS JOB_GRADE_USE_YN,
			JG.FRST_RGTR_ID AS JOB_GRADE_FRST_RGTR_ID,
			JG.FRST_REG_DT AS JOB_GRADE_FRST_REG_DT,
			JG.LAST_MDFR_ID AS JOB_GRADE_LAST_MDFR_ID,
			JG.LAST_MDFCN_DT AS JOB_GRADE_LAST_MDFCN_DT

		FROM TB_EMPLOYEE E

		LEFT JOIN TB_DEPARTMENT D
			ON D.DEPT_CD = E.DEPT_CD

		LEFT JOIN TB_JOB_POSITION JP
			ON JP.JOB_PSTN_CD = E.JOB_PSTN_CD

		LEFT JOIN TB_JOB_GRADE JG
			ON JG.JOB_GRD_CD = E.JOB_GRD_CD
		
		LEFT JOIN TB_MAIL_ACCOUNT MA
            ON MA.EMP_ID = E.EMP_ID
		
		WHERE E.EMP_ID = #{empId}
	</select>


	<select id="selectRoleAssignmentListByEmpId"
			resultMap="RoleAssignmentResultMap">
		SELECT
			RA.ROLE_ASSIGN_ID,
			RA.EMP_ID,
			RA.ROLE_ID,
			RA.ENABLED,
			RA.SCOPE_TYPE_CD,
			RA.SCOPE_ID,
	
			R.ROLE_ID AS ROLE_ROLE_ID,
			R.ROLE_CD AS ROLE_ROLE_CD,
			R.ROLE_NM AS ROLE_ROLE_NM,
			R.ROLE_EXPLN AS ROLE_ROLE_EXPLN,
			R.FRST_RGTR_ID AS ROLE_FRST_RGTR_ID,
			R.FRST_REG_DT AS ROLE_FRST_REG_DT,
			R.LAST_MDFR_ID AS ROLE_LAST_MDFR_ID,
			R.LAST_MDFCN_DT AS ROLE_LAST_MDFCN_DT
	
		FROM TB_ROLE_ASSIGNMENT RA
	
		LEFT JOIN TB_ROLE R
			ON R.ROLE_ID = RA.ROLE_ID
	
		WHERE RA.EMP_ID = #{empId}
	</select>
	
	<select id="selectPasswordByEmpId" resultType="string">
		SELECT PSWD
        FROM TB_EMPLOYEE
        WHERE EMP_ID = #{empId}
	</select>
	
	<update id="updatePasswordByEmpId">
        UPDATE TB_EMPLOYEE 
        SET 
        PSWD = #{newPassword},
        LAST_MDFCN_DT = SYSDATE
        WHERE EMP_ID = #{empId}
    </update>

	<update id="updateSignatureByEmpId">
		UPDATE TB_EMPLOYEE
		SET
			EMP_STAMP_FILE_ID = #{mbrStampFileId},
			LAST_MDFCN_DT = SYSDATE
		WHERE EMP_ID = #{empId}
	</update>

	<update id="updateProfileImageByEmpId">
		UPDATE TB_EMPLOYEE
		SET
			PRFL_IMG_FILE_ID = #{prflImgFileId},
			LAST_MDFCN_DT = SYSDATE
		WHERE EMP_ID = #{empId}
	</update>

	<update id="updateJobDutyByEmpId">
		UPDATE TB_EMPLOYEE
		SET
			JOB_DUTY_CN = #{jobDutyCn},
			LAST_MDFCN_DT = SYSDATE
		WHERE EMP_ID = #{empId}
	</update>

	<update id="updateProfileInfoByEmpId">
		UPDATE TB_EMPLOYEE
		SET
			EMP_NM = #{empNm},
			MBL_TELNO = #{mblTelno},
			ZIP = #{zip},
			ADDR = #{addr},
			LAST_MDFCN_DT = SYSDATE
		WHERE EMP_ID = #{empId}
	</update>
</mapper>
