<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycrewsoft.domain.projectmember.mapper.ProjectMemberMapper">
<insert id="insertProjectMemberList">
	INSERT ALL
    <foreach collection="memberList" item="m">
        INTO TB_PROJ_MEMBER (
            PROJ_ID,
            EMP_ID,
            JOIN_DT
        ) VALUES (
            #{m.projId},
            #{m.empId},
            SYSDATE
        )
    </foreach>
    SELECT 1 FROM DUAL
</insert>
</mapper>