<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycrewsoft.domain.drive.mapper.DriveMapper">
<insert id="insertDriveItem" parameterType="com.mycrewsoft.domain.drive.vo.DriveVo">
	<selectKey keyProperty="driveItemId" resultType="long" order="BEFORE">
		SELECT SEQ_DRIVE_ITEM_ID.NEXTVAL FROM DUAL
    </selectKey>
    
    INSERT INTO TB_DRIVE(
    	DRIVE_ITEM_ID,
		PRNT_DRIVE_ITEM_ID,
		EMP_ID,
		ITEM_TYPE_CD,
		BOOKMARK_YN,
		ITEM_NM,
		FRST_REG_DT,
		DEL_YN,
		DRIVE_ATCH_FILE_ID
    )VALUES(
    	#{driveItemId}, 
		#{prntDriveItemId}, 
		#{empId}, 
		#{itemTypeCd}, 
		'N', 
		#{itemNm}, 
		SYSDATE, 
		'N',
		#{driveAtchFileId}
    )
</insert>

<select id="selectListByEmpId" resultType="com.mycrewsoft.domain.drive.vo.DriveVo">
    SELECT
        D.DRIVE_ITEM_ID,
        D.PRNT_DRIVE_ITEM_ID,
        D.EMP_ID,
        D.ITEM_TYPE_CD,
        D.BOOKMARK_YN,
        D.ITEM_NM,
        D.FRST_REG_DT,
        D.LAST_MDFCN_DT,
        DTL.FILE_SZ,
        DTL.ORGNL_FILE_NM
    FROM TB_DRIVE D
        LEFT JOIN TB_CMMN_ATCH_FILE_DTL DTL ON D.DRIVE_ATCH_FILE_ID = DTL.ATCH_FILE_DTL_ID
    WHERE D.EMP_ID = #{empId}
      AND D.DEL_YN = 'N'
      AND (
        (#{prntDriveItemId} IS NULL AND D.PRNT_DRIVE_ITEM_ID IS NULL)
        OR D.PRNT_DRIVE_ITEM_ID = #{prntDriveItemId}
      )
    ORDER BY D.ITEM_TYPE_CD ASC, D.FRST_REG_DT ASC
</select>

<select id="selectDriveItemById" resultType="com.mycrewsoft.domain.drive.vo.DriveVo">
	SELECT DRIVE_ITEM_ID,
           PRNT_DRIVE_ITEM_ID,
           EMP_ID,
           ITEM_TYPE_CD,
           BOOKMARK_YN,
           ITEM_NM,
           FRST_REG_DT,
           LAST_MDFCN_DT,
           DEL_YN,
           DEL_DT,
           DELTR_MBR_ID,
           DRIVE_ATCH_FILE_ID
    FROM TB_DRIVE
    WHERE DRIVE_ITEM_ID = #{driveItemId}
      AND DEL_YN = 'N'
</select>

<update id="updateFolderName">
	UPDATE TB_DRIVE
    SET ITEM_NM = #{itemNm},
        LAST_MDFCN_DT = SYSDATE
    WHERE DRIVE_ITEM_ID = #{driveItemId}
      AND DEL_YN = 'N'
</update>

<update id="updateBookmarkYn">
	UPDATE TB_DRIVE
	SET BOOKMARK_YN = 'Y',
		LAST_MDFCN_DT = SYSDATE
	WHERE DRIVE_ITEM_ID = #{driveItemId}
	  AND DEL_YN = 'N'
</update>

<update id="deleteBookmark">
    UPDATE TB_DRIVE
    SET BOOKMARK_YN   = 'N',
        LAST_MDFCN_DT = SYSDATE
    WHERE DRIVE_ITEM_ID = #{driveItemId}
      AND DEL_YN = 'N'
</update>

<update id="softDeleteItemWithChildren">
	UPDATE TB_DRIVE
    SET DEL_YN      = 'Y',
        DEL_DT      = SYSDATE,
        DELTR_MBR_ID = #{deltrMbrId}
    WHERE DRIVE_ITEM_ID IN (
        SELECT DRIVE_ITEM_ID
        FROM TB_DRIVE
        START WITH DRIVE_ITEM_ID = #{driveItemId}
        CONNECT BY PRIOR DRIVE_ITEM_ID = PRNT_DRIVE_ITEM_ID
    )
    AND DEL_YN = 'N'
</update>

<select id="selectFileChildrenByItemId" resultType="com.mycrewsoft.domain.drive.vo.DriveVo">
    SELECT
        D.DRIVE_ITEM_ID,
        D.PRNT_DRIVE_ITEM_ID,
        D.ITEM_TYPE_CD,
        D.DRIVE_ATCH_FILE_ID
    FROM TB_DRIVE D
    WHERE D.DEL_YN = 'N'
    START WITH D.DRIVE_ITEM_ID = #{driveItemId}
    CONNECT BY PRIOR D.DRIVE_ITEM_ID = D.PRNT_DRIVE_ITEM_ID
</select>

</mapper>